
<form method ="get" action="/quizes?search=" >
 <fieldset>
  <legend>Opciones</legend>
  <p><label class="field" for="Texto">Filtrar:</label>
     <input type="text" name="search" class="textbox-200"/></p>
  <p><button type="Submit" class="submit">Enviar</button></p>
  <p><a href="/quizes/new"><button type="button" class="newQuestion"> Crear Pregunta</button></a></p>
 </fieldset>
</form>


<div style="text-align:left;">
 <table>
  <% var i; for(i=0; i< quizes.length; i++) { %>
  <tr>
    <td><a href="quizes/<%=quizes[i].id %>"><%=quizes[i].pregunta %></a></td>
    <td><a href="quizes/<%=quizes[i].id %>/edit">
        <button> editar </button></a></td>
    <td>
        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
         <button type="submit" 
            onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
            borrar
         </button>
        </form>
    </td>
  </tr>
  <% } %>
 </table>
</div>

